<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>nz.co.tower.gocarma</key>
		<string>Go Carma AdHoc</string>
		<key>nz.co.tower.gocarma.notificationservice</key>
		<string>GoCarma NotificationService AdHoc profile</string>
	</dict>
	<key>signingCertificate</key>
	<string>9C1C7E5A9E4B2322256FB9BA8C761C47CEF34D1E</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>KNTH88828P</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
